@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Arial', sans-serif;
}

body {
  background: url("../img/background.jpg") no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.header, .section {
  padding: 0 12px;
  border-bottom: 2px solid #fff;
}

.page {
  max-width: 835px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.logo {
  display: block;
  width: 160px;
  height: 85px;
  text-decoration: none;
  margin: 24px auto 74px auto;
}

.logo img {
  max-width: 100%;
}

.options-block {
  padding: 18px 0 32px;
  position: relative;
}

.options-more {
  position: absolute;
  bottom: 0;
  height: 32px;
  left: 16px;
  padding: 0 10px;
  color: #fff;
  line-height: 20px;
  cursor: pointer;
}

.options-more:before {
  content: '';
  background: url("../img/icons/icon-dots.svg") no-repeat 50% 50%;
  background-size: contain;
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 20px;
}

.options-list {
  max-height: 33.3333vh;
  color: #fff;
  overflow: hidden;
}

.options-list.show {
  max-height: none;
}

.options-list.show + .options-more:before {
  background: url("../img/icons/icon-circle-up.svg") no-repeat 50% 50%;
  background-size: contain;
}

.custom-checkbox {
  display: block;
  position: relative;
  margin: 0 0 10px 16px;
  height: 20px;
  line-height: 19px;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-checkbox span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #dd781b;
  margin-right: 10px;
  vertical-align: middle;
}

.custom-checkbox input[type="checkbox"]:checked + span {
  background: url("../img/icons/icon-checkmark.svg") no-repeat 50% 50%;
  background-size: 13px 15px;
}

.search-bar {
  margin-bottom: 30px;
  max-width: 400px;
}

.search-bar__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search-bar__inp {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  min-width: 200px;
  border-radius: 3px;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  height: 40px;
  border: 0;
  padding: 0 10px 0 42px;
  outline: none;
  margin-right: 6px;
  font-size: 16px;
  color: #5c5e5f;
}

.search-bar__inp::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: url("../img/icons/icon-cancel.svg") no-repeat 50% 50%;
  background-size: contain;
  margin-right: 2px;
  cursor: pointer;
}

.search-bar__inp:active, .search-bar__inp:focus {
  color: #373f45;
  outline: none;
}

.search-bar__inp:active + .search-bar__icon, .search-bar__inp:focus + .search-bar__icon {
  fill: #4e5862;
}

.search-bar__btn {
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #fa861d 0%, #bc1b06 100%);
  background-image: linear-gradient(to bottom, #fa861d 0%, #bc1b06 100%);
  padding: 10px 18px;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 40px;
}

.search-bar__btn:hover {
  background-image: -webkit-linear-gradient(top, #fb871e 0%, #fb871e 60%, #b91602 100%);
  background-image: linear-gradient(to bottom, #fb871e 0%, #fb871e 60%, #b91602 100%);
}

.search-bar__icon {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(50% - 9px);
  fill: #7b7f7f;
  width: 18px;
  height: 18px;
  z-index: 2;
}

.nav-bar {
  margin-bottom: 30px;
}

.nav-bar__btn {
  display: none;
  cursor: pointer;
  white-space: nowrap;
}

@media only screen and (max-width: 800px) {
  .nav-bar__btn {
    display: block;
  }
}

.nav-bar__btn-text {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-left: 6px;
}

.nav-bar__btn-icon {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 2px;
  background-color: #fff;
  margin: 2px 0;
  position: relative;
  vertical-align: middle;
}

.nav-bar__btn-icon:before, .nav-bar__btn-icon:after {
  content: '';
  position: absolute;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: #fff;
}

.nav-bar__btn-icon:before {
  top: -4px;
}

.nav-bar__btn-icon:after {
  bottom: -4px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .main-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 24px;
  }
  .main-menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu .main-menu__item {
    color: #b7b7b7;
    padding-left: 20px;
    position: relative;
  }
  .main-menu .main-menu__item.active, .main-menu .main-menu__item:hover {
    background-color: transparent;
    color: #fff;
  }
  .main-menu .main-menu__item.active:before, .main-menu .main-menu__item:hover:before {
    content: '➝';
    position: absolute;
    left: 0;
  }
}

.main-menu__item {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  margin-right: 15px;
  padding: 6px 8px;
  border-radius: 5px;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__item.active, .main-menu__item:hover {
  background-color: #b91602;
}

.tabs {
  margin: 22px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.tabs li {
  margin: 0 22px 0 0;
  padding: 0;
  display: inline-block;
}

.tabs li:last-child {
  margin-right: 0;
}

.tabs li a {
  font-size: 24px;
  color: #fb871e;
  text-decoration: none;
  border-bottom: 1px dotted #fb871e;
}

.tabs li.active a, .tabs li a:hover {
  color: #b91602;
  border-bottom: 1px solid transparent;
}

.tabs__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.tabs__container {
  padding-bottom: 40px;
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: block;
}

.tabs__content:after {
  content: '';
  clear: both;
}

.tabs__list {
  padding: 0 18px;
  margin: 0;
}

.tabs__list li {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

.tabs__text {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 14px;
  text-indent: 16px;
}

.tabs__cols {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  position: relative;
}

.tabs__cols:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #353535;
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  z-index: 2;
}

@media only screen and (max-width: 500px) {
  .tabs__cols {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .tabs__cols:before {
    display: none;
  }
}

.tabs__left-part {
  float: left;
  width: 163px;
  text-align: center;
}

.tabs__left-part img {
  max-width: 100%;
}

@media only screen and (max-width: 500px) {
  .tabs__left-part {
    width: 100%;
    margin-bottom: 10px;
  }
}

.tabs__main {
  margin-left: 183px;
}

@media only screen and (max-width: 500px) {
  .tabs__main {
    margin-left: 0;
  }
}

.tabs__bulleted-list {
  margin: 0;
  padding: 0;
}

.tabs__bulleted-list li {
  list-style-type: none;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
}

.tabs__bulleted-list li:before {
  content: "-";
}
