* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Arial', sans-serif;
}

body {
    background: url("../img/background.jpg") no-repeat 0 0;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.header, .section {
    padding: 0 12px;
    border-bottom: 2px solid #fff;
}

.page {
    max-width: 835px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.logo {
    display: block;
    width: 160px;
    height: 85px;
    text-decoration: none;
    margin: 24px auto 74px auto;

    img {
        max-width:100%;
    }
}

.options-block {
    padding: 18px 0 32px;
    position: relative;
}

.options-more {
    position: absolute;
    bottom: 0;
    height: 32px;
    left: 16px;
    padding: 0 10px;
    color: #fff;
    line-height: 20px;
    cursor: pointer;

    &:before {
        content: '';
        background: url('../img/icons/icon-dots.svg') no-repeat 50% 50%;
        background-size: contain;
        position: absolute;
        top: calc(50% - 10px);
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 20px;
    }
}

.options-list {
    max-height: 33.3333vh;
    color: #fff;
    overflow: hidden;

    &.show {
        max-height: none;
    }

    &.show + .options-more {
        &:before {
            background: url('../img/icons/icon-circle-up.svg') no-repeat 50% 50%;
            background-size: contain;
        }
    }
}

.custom-checkbox {
    display: block;
    position: relative;
    margin: 0 0 10px 16px;
    height: 20px;
    line-height: 19px;

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    span {
        display: inline-block;
        width: 19px;
        height: 19px;
        border: 1px solid #dd781b;
        margin-right: 10px;
        vertical-align: middle;
    }

    input[type="checkbox"]:checked  + span {
        background: url('../img/icons/icon-checkmark.svg') no-repeat 50% 50%;
        background-size: 13px 15px;
    }
}