.nav-bar {
    margin-bottom: 30px;
}

.nav-bar__btn {
    display: none;
    cursor: pointer;
    white-space: nowrap;

    @media only screen and (max-width: 800px) {
        display: block;
    }
}

.nav-bar__btn-text {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-left: 6px;
}

.nav-bar__btn-icon {
    display: inline-block;
    cursor: pointer;
    width:12px;
    height: 2px;
    background-color: #fff;
    margin: 2px 0;
    position: relative;
    vertical-align: middle;

    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        width:12px;
        height: 2px;
        background-color: #fff;
    }

    &:before {
        top: -4px;
    }

    &:after {
        bottom: -4px;
    }
}

.main-menu {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
        display: none;
        flex-direction: column;
        margin-left: 24px;

        &.show {
            display: flex;
        }

        .main-menu__item {
            color: #b7b7b7;
            padding-left: 20px;
            position: relative;

            &.active,&:hover {
                background-color: transparent;
                color: #fff;
                &:before {
                    content: '➝';
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}

.main-menu__item {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    padding: 6px 8px;
    border-radius: 5px;

    &:last-child {
        margin-right: 0;
    }

    &.active, &:hover {
        background-color: #b91602;
    }
}