.search-bar {
    margin-bottom: 30px;
    max-width: 400px;
}

.search-bar__form {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar__inp {
    flex: 1 1 200px;
    min-width: 200px;
    border-radius: 3px;
    box-shadow: inset 0 2px  2px 0 rgba(0,0,0,0.3);
    height: 40px;
    border: 0;
    padding: 0 10px 0 42px;
    outline: none;
    margin-right: 6px;
    font-size: 16px;
    color: #5c5e5f;

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        background: url('../img/icons/icon-cancel.svg') no-repeat 50% 50%;
        background-size: contain;
        margin-right: 2px;
        cursor: pointer;
    }

    &:active, &:focus{
        color: #373f45;
        outline: none;

        & + .search-bar__icon {
            fill: #4e5862;
        }
    }
}

.search-bar__btn {
    border-radius: 3px;
    background-image: linear-gradient( to bottom, #fa861d 0%, #bc1b06 100%);
    padding: 10px 18px;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 14px;
    flex: 0 0 auto;
    height: 40px;

    &:hover {
        background-image: linear-gradient(  to bottom, #fb871e 0%, #fb871e 60%, rgb(185,22,2) 100%);
    }
}

.search-bar__icon {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(50% - 9px);
    fill: #7b7f7f;
    width: 18px;
    height: 18px;
    z-index: 2;
}