.tabs {
    margin: 22px 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.tabs li {
    margin: 0 22px 0 0;
    padding: 0;
    display: inline-block;

    &:last-child {
        margin-right: 0;
    }
}

.tabs li a {
    font-size: 24px;
    color: #fb871e;
    text-decoration: none;
    border-bottom: 1px dotted #fb871e;
}

.tabs li.active a, .tabs li a:hover  {
    color: #b91602;
    border-bottom: 1px solid transparent;
}

.tabs__title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.tabs__container {
    padding-bottom: 40px;
}

.tabs__content {
    display: none;

    &.active {
        display: block;
    }

    &:after {
        content: '';
        clear: both;
    }
}

.tabs__list {
    padding: 0 18px;
    margin: 0;
}

.tabs__list li {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.tabs__text {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 14px;
    text-indent: 16px;
}

.tabs__cols {
    columns: 2;
    column-gap: 2em;
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: #353535;
        position: absolute;
        left: calc(50% - 1px);
        top: 0;
        z-index: 2;
    }

    @media only screen and (max-width: 500px) {
        columns: 1;
        column-gap: 0;

        &:before {
            display: none;
        }
    }
}

.tabs__left-part {
    float: left;
    width: 163px;
    text-align: center;

    img {
        max-width:100%;
    }

    @media only screen and (max-width: 500px) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.tabs__main {
    margin-left: 183px;

    @media only screen and (max-width: 500px) {
        margin-left: 0;
    }
}

.tabs__bulleted-list {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 18px;
    }

    li:before {
        content: "-";
    }
}
